html
  head
    title AI BOT UPLOADATRON

  body
    h1 AI BOT UPLOADATRON
    form(action="/" method="POST")
      label(for="aiName") Name
      input(id="aiName" name="aiName" type="text" placeholder="YOLO SWAGGINS")
      br
      label(for="ai")
      textarea(rows="40" cols="80" id="ai" name="ai" placeholder="function(state) { return 'LOL'})")
      br
      button(type="submit") Submit
